<h1>投稿一覧ページ</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
  <div class = "post" >
    <%= post.title %>
    <%= post.game %>
    <%= post.platform %>
  </div>
<% end %>
